/* navbar */

.navbar {
  background-color: #00615a !important;
}


.nav-link:hover{
  border-bottom: 3px solid #fbbb21;
  color: #fff !important;
}



.navbar-nav a {
  background-color: transparent;
  border-bottom: 3px solid #00615a;
}


/* Carousel */
/* .style1 {

    background-image: url(../../images/fondo.png);
} */
/* #carousel {

  background-image: url(../../images/fondo.png);
} */
#carousel .carousel-caption {
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
}

.carousel-caption > header > a:hover {
  color: #f8f9fa;
  text-decoration: none;
  padding-left: 0.5rem;
}

#carousel header {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(27, 27, 27, 0.75);
    color: #fff;
    padding: 0.6em 0;
    height: 4em;

}

#carousel .carousel-caption > header h5 {
    display: inline-block;
    font-size: 1.25em;
    vertical-align: middle;
}
#carousel .carousel-caption > header > h5 > em {

  font-size: small;
  padding: 0em 0.5em 0em 0.5em;
}

#carousel > ul {
  bottom: -13px !important;
}

.button {
  background-color: #00a79b;
  border-radius: 1px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 0em 0.5em;
  line-height: 1.75em;
  min-width: 8em;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: -0.025em;
  font-size: small;
}

#contactSubmit {
  font-size: larger !important;
}

.button:hover {
  background-color: #fbbb21;
}
.carousel-item img {
  width: 50rem;
  display: block;
  margin: auto;
}



@media only screen and (max-width: 700px) {
  #carousel header {
    height: 6em;
  }
  #carousel .carousel-caption > header h5 {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  #carousel header {
    height: 7em;
  }
  #carousel .carousel-caption > header h5 {
    display: block;
  }

  #carousel .carousel-caption > header > h5 > em::before {

    content: '\A';
    white-space: pre;
  }

  /* .inner > a:nth-child(3) {
      margin-right: 0.5rem;
  }


  .inner > a:nth-child(4) {
    margin: 0.5rem 0.5rem 0 0;
  } */


}

@media only screen and (max-width: 400px) {

  .box.highlight p {
    padding: 1rem 1rem 0rem 1rem !important;
  }

  .inner p {
        text-align: justify;
        word-spacing: -1px;
  }

  .style1 > .container > .row {
    padding: 0rem 1rem 0rem 1rem !important;
    margin-right: 0px !important;
  }

}

/* Servicios */
.box.highlight h3 {
  text-align: center;
}

.box.highlight p {

  text-align: justify;
  padding: 1rem 2rem 0rem 2rem;
}

#imgServicios {
  width: 100%;
      display: flex;
      margin: auto;
      width: 16rem !important;
      height: 13rem !important;
      border: 1px solid #e0e0e0;
      background-color: #ffffff38;
      border-radius: 0px;
      margin-bottom: 20px;
}

.wrapper {
    padding: 2em 0 1em 0;
}

.style1 > .container > .row {
  padding: 0px 50px 0px 50px;
}

header.major h2 {
    font-size: 2.25em;
}

header.major > h2 > i{
    color: #007971;
}

header.major p {
    position: relative;
    color:#999;
    border-top: solid 2px #e0e0e0;
    padding: 1em 0 0 0;
    margin: 0;
    top: -1em;
    font-size: 1.2em;
    letter-spacing: -0.025em;
}

header.major h2 {
  padding-bottom: 2rem;
}
