/* Proyectos */

.image.left img {
    display: block;
    width: 100%;
    border-radius: 1px;
}

.box.post .image {
    width: 20%;
}

.image.left {
    display: block;
    float: left;
    margin: 0 2em 2em 0;
    position: relative;
    top: 0.25em;
}

.box.post .inner {
    margin-left: calc(20% + 2em);
}
.box.post {
    position: relative;
    margin: 0 0 2em 0;
}

.btn {
  background-color: #34a59d;
  border-color: #34a59d;
}
/* Equipo */
/*-------------------tarjetas de equipo--------------------*/


.team-card{
	text-align: center;
	/*margin-bottom: 45px;*/
	/* background-color: #e7fffd; */
  background-color: #fff;
	padding: 35px 0 0 0;
	transition: all 0.3s ease-in-out;
	/* margin-bottom: 45px; */
}
.team-card .team-card-header{
	margin-bottom: 45px;
}
.team-card .team-card-header .card-icon{
	border-radius: 100%;
	display: inline-block;
	height: 120px;
	width: 120px;
	line-height: 120px;
	position: relative;
}

.team-card .team-card-header{
	margin-bottom: 15px;
	font-size: 21px;
	color: #51c2b9;
}
 .team-card .team-card-content h3{
	letter-spacing: 2px;
	margin-bottom: 1rem;
}
 .team-card .team-card-content h3:after{
	top: 40px;
}
 .team-card .team-card-content p{
   font-size: 1em;
     text-align: justify;
     padding: 0 1em 0 1em;
}

.team-card .team-card-content .social-icons{
  padding-bottom: .2em;
  margin-bottom: 2em;
}



/*animaciones*/
.team-card .team-card-header .card-icon:after{
	transition: all 0.3s ease-in-out;
}
.team-card:hover .team-card-header .card-icon:after{
	height: 120px;
	width: 120px;
	top: -1px;
	left: -1px;
}



.img-responsive {
    width: 12rem;
    border-radius: 1px;
}

.img-responsive:hover {
    width: 12rem;
    border-radius: 50%;
}

.img-responsive:hover{
/*
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #ec731e; */
  /* transform: rotate(359deg); */
  /* -webkit-transform: rotate(360deg); */

  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.social-icons ul a li {
    display: inline-block;
    list-style-type: none;
    border: 2px solid #3fc2b9;
    background-color: #3fc2b9;
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    width: 36px;
		border-radius: 1px;
}

.social-icons ul a li:hover {
  color: #fdc745;

}
.social-icons ul {
  padding: inherit;
}

@media only screen and (max-width: 1200px) {
  .team-card-content h4 {
    word-spacing: 0.5rem;
  }

  #page-wrapper > section.team.section.style1 > div > div > div:nth-child(3) > div > div.team-card-content > div {
        padding-top: 5em !important;
  }

  #page-wrapper > section.team.section.style1 {

    padding-bottom: 2em;
  }

}



@media only screen and (max-width: 990px) {

  #page-wrapper > section.team.section.style1 > div > div > div:nth-child(1) > div > div.team-card-content > div {
        padding-top: .5em !important;
  }

  #page-wrapper > section.team.section.style1 > div > div > div:nth-child(2) > div > div.team-card-content > div {
        padding-top: .5em !important;
  }

  #page-wrapper > section.team.section.style1 > div > div > div:nth-child(3) > div > div.team-card-content > div {
        padding-top: .5em !important;
  }

}


@media only screen and (max-width: 415px) {

    #formContact .row {
          margin-right: -0.1em;
    }

    #page-wrapper > section.team.section.style1 > div > div > div:nth-child(1) > div > div.team-card-content{
        height: 21em;
    }

    #page-wrapper > section.team.section.style1 > div > div > div:nth-child(2) > div > div.team-card-content{
        height: 16em;
    }

    #page-wrapper > section.team.section.style1 > div > div > div:nth-child(3) > div > div.team-card-content{
        height: 15em;
    }

}


.team-card-content {
  height: 20em;
}

#page-wrapper > section.team.section.style1 > div > div > div:nth-child(1) > div > div.team-card-content > div {
      padding-top: .5em;
}

#page-wrapper > section.team.section.style1 > div > div > div:nth-child(2) > div > div.team-card-content > div {
      padding-top: 2em;
}

#page-wrapper > section.team.section.style1 > div > div > div:nth-child(3) > div > div.team-card-content > div {
      padding-top: 3.5em;
}
/*------------------- FIN tarjetas de equipo--------------------*/


/* Contacto */

#contact {
    margin-left: auto;
    margin-right: auto;
}

input[type="text"], input[type="password"], input[type="email"] {
    line-height: 1em;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: border-color 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out;
    -ms-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
    background: #fff;
    border: solid 1px #e0e0e0;
    border-radius: 5px;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0.75em;
    text-decoration: none;
    width: 100%;
}
.row.gtr-50 > * {
    padding: 15px 0 0 15px;
}

ul.actions li {
    padding: 0 0 0 1em;
    vertical-align: middle;
}

ul.actions {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    cursor: default;
    list-style: none;
    margin-left: -1em;
    padding-left: 0;
}


#footer .icons {
    text-align: center;
    margin: 0;
    padding-top: 3em;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}
/* #footer .icons a {
    color: #999;
} */

.icon {
    text-decoration: none;
    position: relative;
    text-decoration: none;
}
ul.icons li a, ul.icons li span {
    font-size: 2.8em;
    color: #999 !important;
}

ul.icons li {
    display: inline-block;
    line-height: 1em;
    padding-left: 1.5em;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li span {
    display: none;
}




#footer .copyright {
    color: #999;
    margin-top: 1.5em;
    text-align: center;
    font-size: 0.9em;
}


#footer .copyright .menu li {
    list-style: none;
}
